* {
  box-sizing: border-box;
}
html,
body {
  margin: 0;
  overflow: hidden;
  height: 100dvh;
  width: 100dvw;
  position: relative;
  font-family: "Oswald", sans-serif;
  color: #334;
  line-height: 1.5;
  /* -webkit-touch-callout: none;
  -webkit-user-select: none;
  -khtml-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none; */
}

#container {
  background: #000;
  width: 100dvw;
  height: 100dvh;
  position: relative;
}

#install-button {
  display: none;
}
